<div class="card">
<div class="card-header bg-primary text-center text-white">
    CUSTOMER REGISTERATION
</div>
<div class="card-body">
    <form (ngSubmit)="createCustomer()">
   <!-- row #1 -->
   <div class="row">
        <div class="col-3">
            <label>Name</label>
        </div>
        <div class="col-4">
            <input 
            type="text" 
            name="name" 
            id="name" 
            [(ngModel)]="customer.name"
            class="form-control"   />
        </div>
    </div>
          <!-- row #2 -->
          <div class="row">
          <div class="col-3">
            <label>E-Mail</label>
        </div>
        <div class="col-4">
            <input 
            type="text" 
            name="email" 
            id="email" 
            [(ngModel)]="customer.email" 
            class="form-control"  />
        </div>
        </div>
          <!-- row #3 -->
          <div class="row">
          <div class="col-3">
            <label>Gender</label>
        </div>
        <div class="col-4">
        <input 
        type="radio" 
        name="gender" 
        id="gender1" 
        [(ngModel)]="customer.gender " 
        value="Male" 
        class="form-control"  />Male
        <input 
        type="radio" 
        name="gender" 
        id="gender2" 
        [(ngModel)]="customer.gender" 
        value="Female"  
        class="form-control"  />Female
        </div>
        </div>
          <!-- row #4 -->
          <div class="row">
          <div class="col-3">
            <label>Mobile</label>
        </div>
        <div class="col-4">
            <input 
            type="text" 
            name="mobile" 
            id="mobile" 
            [(ngModel)]="customer.mobile" 
            class="form-control"  />
        </div>
        </div>

        
          <!-- row #5 -->
          <div class="row">
          <div class="col-3">
            <label>Image</label>
        </div>
        <div class="col-4">
            <input 
            type="text" 
            name="imagePath" 
            id="imagePath" 
            [(ngModel)]="customer.imagePath"
            class="form-control"   />
        </div>
        </div>

         
          <!-- row #6 -->
          <div class="row">
          <div class="col-3">
            <label>Address</label>
        </div>
        <div class="col-4">
            <textarea 
            name="address" 
            id="address" 
            [(ngModel)]="customer.address"
            class="form-control"  > </textarea>
        </div>
          </div>
         
          <!-- row #7 -->
          <div class="row">
          <div class="col-3">
            <label>PanCard</label>
        </div>
        <div class="col-4">
            <input type="text" 
            name="panCard"
            id="panCard" 
            [(ngModel)]="customer.panCard"
            class="form-control" />
        </div>
        </div>

          <!-- row #8 -->
          <div class="row">
          <div class="col-3">
            <label>AadharCard</label>
        </div>
        <div class="col-4">
            <input type="text"
             name="aadharCard" 
             id="aadharCard" 
             [(ngModel)]="customer.aadharCard"
             class="form-control" />
        </div>
        </div> &nbsp;
       <button type="submit" class="btn btn-success">Create</button>
     </form>
     {{customer |json}}
</div>
<div class="card-footer bg-white text-success">{{message}}</div>
</div>
