<div class="card">
    <div class="card-header bg-primary text-center text-white">
        <h3>CUSTOMER DETAILS</h3>
    </div>
    <div class="card-body ">
        <table class="table table-hover">
            <thead>
                <tr class="bg-info text-center text-white">
                    <td>ID</td>
                    <td>NAME</td>
                    <td>EMAIL</td>
                    <td>GENDER</td>
                    <td>MOBILE</td>
                    <td>ADDRESS</td>
                    <td>OPERATIONS</td>
                </tr>
            </thead>
            <Tbody>
                <tr *ngFor="let c of customers" class="text-center">
                    <td>{{c.id}}</td>
                    <td>{{c.name}}</td>
                    <td>{{c.email}}</td>
                    <td>{{c.gender}}</td>
                    <td>{{c.mobile}}</td>
                    <td>{{c.address}}</td>
                    <td>
                        <button class="btn btn-info">VIEW</button> &nbsp;
                        <button class="btn btn-warning">EDIT</button>
                    </td>
                </tr>
            </Tbody>
        </table>
    </div>
</div>